{% extends 'haircut/base.html' %}{% load static %}
 {% block content %}
	<!--================ Start banner Area =================-->
	<section class="home-banner-area relative">
		<div class="owl-carousel home-banner-owl">
			<div class="banner-img">
				<img class="img-fluid" src="{% static 'img/banner/b1.jpg' %}" alt="No">
				<div class="overlay overlay-bg"></div>
			</div>
			<div class="banner-img">
				<img class="img-fluid" src="{% static 'img/banner/b2.jpg' %}" alt="">
				<div class="overlay overlay-bg"></div>
			</div>
			<div class="banner-img">
			<img class="img-fluid" src="{% static 'img/banner/b3.jpg' %}" alt=""
				<div class="overlay overlay-bg"></div>
			</div>
		</div>

		<div class="text-wrapper">
			<h1>
				For All Occasion <br>
				Eltari Salon is a Must Try
			</h1>


			<div class="video-text">

			</div>
		</div>
	</section>
	<!--================ End banner Area =================-->

	<!--================ Start About Area =================-->
	<section class="section-gap-top about-area">
		<div class="container">
			<div class="single-about row align-items-center">
				<div class="col-lg-4 col-md-6 no-padding about-left">
					<div class="about-content">
						<h1>We Believe that <br> Interior beauty Lasts Long</h1>

						<a href="{% url 'haircut:gallery' %}" class="primary-btn">More Photos</a>
					</div>
				</div>
				<div class="col-lg-7 col-md-6 text-center no-padding about-right">
					<div class="about-thumb">
						<img src="{% static 'img/barb/g23.jpg' %}" class="img-fluid info-img" alt="">
					</div>
				</div>
				<div class="bordered-img">
					<img src="{% static 'img/barb/b2.jpg'  %}" class="img-fluid info-img" alt="">
				</div>
			</div>
		</div>
	</section>
	<!--================ End About Area =================-->

	<!--================ Start Service Area =================-->
	<section class="service-area section-gap">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-8 text-center">
					<div class="section-title">
						<h1>What We Can Do for You</h1>

					</div>
				</div>
			</div>

			<div class="row">
				{% for barbs in barb %}
				<div class="col-lg-3 col-sm-6 col-md-3">
					<div class="single-service">
						<img class="img-fluid" src="{{barbs.image.url}}" alt="" width="263" height="350">
						<h4>{{barbs.name}}</h4>
					</div>
				</div>
				{% endfor %}

		</div>
	</section>
	<!--================ End Service Area =================-->

	<!--================ Start Catalogue Area =================-->
	<section class="section-gap catalogue-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 offset-lg-1 offset-md-2 col-sm-12 col-md-8">
					<div class="tab-area">
						<div class="tab-contact-wraper" id="horizontalTab">
							<h4>Select Your Style</h4>
							<p>Shaving</p>
							<div class="jq-tab-menu justify-content-center">
								<div class="jq-tab-title active" data-tab="1"><img src="{% static 'img/tab/icon1.png' %}" alt=""></div>
								<div class="jq-tab-title deff-bg1" data-tab="2"><img src="{% static 'img/tab/icon2.png' %}" alt=""></div>
								<div class="jq-tab-title" data-tab="3"><img src="{% static 'img/tab/icon3.png' %}" alt=""></div>
								<div class="jq-tab-title deff-bg1" data-tab="4"><img src="{% static 'img/tab/icon4.png' %}" alt=""></div>
							</div>

							<div class="jq-tab-content-wrapper">
								<div class="jq-tab-content active" data-tab="1">

									<a href="{% url 'haircut:gallery' %}" class="view-btn">View Gallery...</a>
								</div>
								<div class="jq-tab-content" data-tab="2">

									<a href="#" class="view-btn">View Gallery...</a>
								</div>
								<div class="jq-tab-content" data-tab="3">

									<a href="#" class="view-btn">View Gallery...</a>
								</div>
								<div class="jq-tab-content" data-tab="4">

									<a href="#" class="view-btn">View Gallery...</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================ End Catalogue Area =================-->

	<!--================ Start Team Area =================-->
	<section class="team-area section-gap">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-8 text-center">
					<div class="section-title">
						<h1>Stylist</h1>

					</div>
				</div>
			</div>
			<div class="row">
				<!-- single member -->
				<div class="col-lg-4 col-md-4">
					<div class="single-team-member">
						<div class="member-img">
							<img class="img-fluid" src="{% static 'img/barb/e1.jpg' %}" alt="" width="320" height="300">
						</div>

						<div class="proff">
							<h4>Promise</h4>
							<p>Head hair Cut Specialist</p>
						</div>
					</div>
				</div>

				<!-- single member -->
				<div class="col-lg-4 col-md-4">
					<div class="single-team-member">
						<div class="member-img">
							<img class="img-fluid" src="{% static 'img/barb/kr.jpg' %}" alt="" width="250" height="300" >
						</div>
						<div class="proff">
							<h4></h4>
							<p style="color:black;font-family:Lucida Console, Courier, monospace;">We have been in the industry for a long time and we know what customers need. A customer once testified" <em style="color:red">I had a weird style in my head and they gave just exacted what I expected. It was a moment of ecstasy.</em><br></p>
						</div>
					</div>
				</div>
        <!-- single member -->
				<div class="col-lg-4 col-md-4">
					<div class="single-team-member">
						<div class="member-img">
							<img class="img-fluid" src="{% static 'img/barb/et1.jpeg' %}" alt="" width="320" height="300">
						</div>
						<div class="proff">
							<h4></h4>
							<p></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================ End Team Area =================-->

	<!--================Testimonials Area =================-->
	<section class="testimonials-area section-gap-top">
		<div class="overlay overlay-bg"></div>
		<div class="container">
			<div class="text-center">
				<img class="quote-img" src="{% static 'img/testimonial/quote.png' %}" alt="">
			</div>
			<div class="testi-slider owl-carousel" data-slider-id="1">

				<div class="item">
					<div class="testi-item">
						<h4>Giannis</h4>
						<ul class="list">
							<li><a href="#"><i class="fa fa-star"></i></a></li>
							<li><a href="#"><i class="fa fa-star"></i></a></li>
							<li><a href="#"><i class="fa fa-star"></i></a></li>
							<li><a href="#"><i class="fa fa-star"></i></a></li>
							<li><a href="#"><i class="fa fa-star"></i></a></li>
						</ul>
						<div class="wow fadeIn" data-wow-duration="1s">
							<p>
                "Honestly I no longer get my hair or beard cut anywhere else. Promise makes me feel at home.
							</p>
						</div>
					</div>
				</div>
        <div class="item">
					<div class="testi-item">
						<h4>Emmy Novak</h4>
						<ul class="list">
							<li><a href="#"><i class="fa fa-star"></i></a></li>
							<li><a href="#"><i class="fa fa-star"></i></a></li>
							<li><a href="#"><i class="fa fa-star"></i></a></li>
							<li><a href="#"><i class="fa fa-star"></i></a></li>
							<li><a href="#"><i class="fa fa-star"></i></a></li>
						</ul>
						<div class="wow fadeIn" data-wow-duration="1s">
							<p>
								Wonderfully made my hair with good hospitality and affordable price.
							</p>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="testi-item">
						<h4>Jane</h4>
						<ul class="list">
							<li><a href="#"><i class="fa fa-star"></i></a></li>
							<li><a href="#"><i class="fa fa-star"></i></a></li>
							<li><a href="#"><i class="fa fa-star"></i></a></li>
							<li><a href="#"><i class="fa fa-star"></i></a></li>
							<li><a href="#"><i class="fa fa-star"></i></a></li>
						</ul>
						<div class="wow fadeIn" data-wow-duration="1s">
							<p>
                "Promise does a fantastic job on anyone's hair! He did a lovely job on my hair and I will be continually coming back for my hair needs!!. Thanks again Promise!! - Jane
							</p>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="testi-item">
						<h4>Faith</h4>
						<ul class="list">
							<li><a href="#"><i class="fa fa-star"></i></a></li>
							<li><a href="#"><i class="fa fa-star"></i></a></li>
							<li><a href="#"><i class="fa fa-star"></i></a></li>
							<li><a href="#"><i class="fa fa-star"></i></a></li>
							<li><a href="#"><i class="fa fa-star"></i></a></li>
						</ul>
						<div class="wow fadeIn" data-wow-duration="1s">
							<p>
                They gave me a great summer look. The braids were breath taking.
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class="owl-thumbs d-flex justify-content-center" data-slider-id="1">

				<div class="owl-thumb-item">
					<div>
						<img class="img-fluid" src="{% static 'img/testimonial/t2.png' %}" alt="">
					</div>
					<div class="overlay overlay-grad"></div>
				</div>
				<div class="owl-thumb-item">
					<div>
						<img class="img-fluid" src="{% static 'img/testimonial/t3.png' %}" alt="">
					</div>
					<div class="overlay overlay-grad"></div>
				</div>
				<div class="owl-thumb-item">
					<div>
						<img class="img-fluid" src="{% static 'img/testimonial/t4.png' %}" alt="">
					</div>
					<div class="overlay overlay-grad"></div>
				</div>
        <div class="owl-thumb-item">
          <div>
            <img class="img-fluid" src="{% static 'img/barb/e4.jpg' %}" alt="">
          </div>
          <div class="overlay overlay-grad"></div>
        </div>
			</div>
		</div>
	</section>
	<!--================End Testimonials Area =================-->

	<!--================Start Pricing Area =================-->
	<section class="price-area section-gap-top">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-8 text-center">
					<div class="section-title">

					</div>
				</div>
			</div>
			<div class="row justify-content-center">
				<!-- single pricing -->
				<div class="col-lg-4 col-md-6 text-center">
					<div class="single-price">
						<div class="top-sec">
							<h4>Basic Hair Cut for Men</h4>
							<p>Standard Package</p>
						</div>
						<div class="bottom-sec">
							<h1></h1>
						</div>
						<div class="end-sec">
							<ul>
								<li>Basic hair Cut</li>
								<li>Basic Shave</li>
                <li>Dreadlock</li>

							</ul>
							<a class="primary-btn price-btn mt-40" href="{% url 'haircut:contact' %}">Order Now</a>
						</div>
					</div>
				</div>
				<!-- single pricing -->
				<div class="col-lg-4 col-md-6 text-center">
					<div class="single-price">
						<div class="top-sec">
							<h4>Basic Hairstyle for Ladies</h4>
							<p>Standard Package</p>
						</div>
						<div class="bottom-sec">
							<h1></h1>
						</div>
						<div class="end-sec">
							<ul>
								<li>Basic hair Cut</li>
								<li>Braiding</li>
                <li>Extensions/Weavons</li>
                <li>Dreadlock</li>

							</ul>
							<a class="primary-btn price-btn mt-40" href="{% url 'haircut:contact' %}">Order Now</a>
						</div>
					</div>
				</div>
				<!-- single pricing -->
				<div class="col-lg-4 col-md-6 text-center">
					<div class="single-price">
						<div class="top-sec">
							<h4>Home Service for Ladies</h4>
							<p>Standard Package</p>
						</div>
						<div class="bottom-sec">
							<h1></h1>
						</div>
						<div class="end-sec">
							<ul>
                <li>Haircut</li>
                <li>Braiding</li>
                <li>Extensions/Weavons</li>
                <li>Dreadlock</li>


							</ul>
							<a class="primary-btn price-btn mt-40" href="{% url 'haircut:contact' %}">Order Now</a>
						</div>
					</div>
				</div>
				<!-- single pricing -->
				<div class="col-lg-4 col-md-6 text-center">
					<div class="single-price active">
						<div class="top-sec">
							<h4>Home Service for Men</h4>
							<p>Standard Package</p>
						</div>
						<div class="bottom-sec">
							<h1></h1>
						</div>
						<div class="end-sec">
							<ul>
								<li>Basic hair Cut</li>
								<li>Basic Shave</li>
                <li>Dreadlock</li>

							</ul>
							<a class="primary-btn price-btn mt-40" href="{% url 'haircut:contact' %}">Order Now</a>
						</div>
					</div>
				</div>

					</div>
				</div>

	</section>
	<!--================Start Pricing Area =================-->


	<!--================ End Events Area =================-->


{% endblock %}
